# Токен бота-нарезчика (для скрипта reaction_cutter.py)
CUTTER_TOKEN="1234567890:ABCdefGhIJKlmNoPQRsTUVwXyZ"

# Токен главного бота-плеера (для скрипта reaction_player.py)
MAIN_TOKEN="0987654321:ZYXwvuTsrQPonMlKjIhGfEdCBA"

# ID группы или канала, куда бот-плеер будет отправлять сообщение и ставить реакции
# Для супергрупп и каналов ID обязательно должен начинаться с -100
CHAT_ID=-1001234567890
